<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-4 is-4 is-10-mobile is-offset-1-mobile">
            <div class="box">
              <b-field :type="errorMessage ? 'is-danger' : ''" label="User">
                <b-input v-model="username"></b-input>
              </b-field>
              <b-field :type="errorMessage ? 'is-danger' : ''" :message="errorMessage" label="Password">
                <b-input v-model="password" type="password" password-reveal>
                </b-input>
              </b-field>
              <button class="button is-primary is-fullwidth" @click="authenticate">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'

const instance = axios.create({
  baseURL: "http://localhost:8080/",
  auth: {
    username: 'web_app',
    password: 'web_app_$ecr37'
  }
})

export default {
  data () {
    return {
      username: null,
      password: null,
      errorMessage: null
    }
  },
  methods: {
    authenticate() {
      const self = this

      const params = new URLSearchParams();
      params.append('username', self.username);
      params.append('password', self.password);
      params.append('grant_type', 'password');

      instance.post("oauth/token", params)
      .then((response) => {
        localStorage.access_token = response.data.access_token
        self.$router.push('/products/')
      })
      .catch((error) => {
        self.errorMessage = error.response.data.error_description
      })
    }
  }
}
</script>

<style scoped>
</style>
