<template>
  <section class="section">
    <div class="container">
      <b-table
          :data="productList"
          @sort="changeSort"
          backend-sorting
          mobile-cards>
          <template scope="props">
            <b-table-column
              field="desc"
              label="Description"
              sortable>
                {{ props.row.desc }}
            </b-table-column>
            <b-table-column
              field="price"
              label="Price"
              sortable>
                {{ props.row.price }}
            </b-table-column>
          </template>
      </b-table>
      <b-pagination
        @change="listProducts"
        :total="totalProducts"
        :current.sync="currentPage"
        order="is-centered"
        :per-page="10">
    </b-pagination>
    </div>
  </section>
</template>

<script>
import axios from 'axios'

const instance = axios.create({
  baseURL: "http://localhost:8080/",
})

export default {
  data () {
    return {
      sortField: "desc",
      sortOrder: "asc",
      totalProducts: 0,
      currentPage: 1,
      productList: [],
    }
  },
  mounted() {
    instance.defaults.headers.common['Authorization'] = 'Bearer '+localStorage.access_token
    this.listProducts()
  },
  methods: {
    changeSort(field, order) {
      this.sortField = field
      this.sortOrder = order
      this.listProducts()
    },
    listProducts(page = 1) {
      const self = this
      instance.get(`products/?page=${page - 1}&size=10&sort=${this.sortField},${this.sortOrder}`)
      .then(function(response) {
        self.totalProducts = response.data.totalElements
        self.currentPage = response.data.number + 1
        self.productList = response.data.content
      })
      .catch((error) => {
        if (error.response.status == 401) {
          delete localStorage.access_token
          self.$router.replace('/')
          self.$snackbar.open({
            message: 'Token expired',
            type: 'is-warning',
            position: 'is-bottom',
        })
        }
      })
    }
  }
}
</script>

<style scoped>
</style>
